
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #F5F6FA;
    font-family: 'Roboto', sans-serif;
}
::selection{
    color: #fff;
    background: #0054FE;
}
.container{
    margin-left: 245px;
}

.rigth{
    float: right;
}
.d-flex{
    display: flex;
    align-items: center;
}