.input_text{
    border-radius: 8px;
    padding: 16px 20px;
    display: block;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    overflow: visible;
    width: calc(100% - 40px);
    font-size: 1rem;
    margin-bottom: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input_text:focus-visible{
    outline: none;
    border-color: #0054FE;
}

.error-input{
    border: 1px solid #fe0026;
}